body {
    text-align: center;
}

h1 {
    color: red;
}

div {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 500px;
    height: 250px;
    transform: translateX(-50%) translateY(-50%);
}

#gallows {
    position: absolute;
    left: 28%;
}

#head {
    position: absolute;
    top: 13%;
    left: 58.5%;

}

#body {
    position: absolute;
    top: 29%;
    left: 62%;
}

#left-arm {
    position: absolute;
    top: 30%;
    left: 55%;
}

#right-arm {
    position: absolute;
    top: 30%;
    left: 63%;
}

#left-leg {
    position: absolute;
    top: 56%;
    left: 55%;
}

#right-leg {
    position: absolute;
    top: 56%;
    left: 63%;
}