body {
    text-align: center;
}

h1 {
    color: red;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-30%) translateY(-300%);
}

#body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(140%) translateY(-120%);
}